

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class='cadre mx-auto border-left border-right p-3'>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-6'>
            <h3>Personal informations</h3>
            <form method='post'>
              <div class='form-row'>
                <div class='form-group col-md-6' align="center">
                  <label for='pseudo'>First name</label>
                  <input type='text' class='form-control' id='pseudo' placeholder='<%= current_user.first_name %>' readonly>
                </div>
          
              </div>
              <div class='form-row'>
                <div class='form-group col-md-6' align="center">
                  <label for='dateNaissance'>Last name</label>
                  <input type='text' class='form-control' id='dateNaissance' placeholder='<%= current_user.last_name %>' readonly>
                </div>
              </div>
              <div class='form-row'>
                <div class='form-group col-md-6' align="center">
                  <label for='role'>Email</label>
                  <input type='text' class='form-control' id='role' placeholder='<%= current_user.email %>' readonly>
                </div>
              </div>
              
          </form>
    </div>

    <div class='col-sm-6'>
            <h3>Change password</h3>
                <div class='form-group col-md-6' align="center">
                  <label for='pseudo'>New password</label>
                <%= f.password_field :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" }, class: 'form-control', placeholder: 'New password'%>
              </div>
                <div class='form-group col-md-6' align="center">
                  <label for='pseudo'>Confirm new password</label>
                <%= f.password_field :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" }, class: 'form-control', placeholder: 'Confirm new password' %>
              </div>
                <div class='form-group col-md-6' align="center">
                  <label for='pseudo'>Current password</label>
                <%= f.password_field :current_password,
                hint: "we need your current password to confirm your changes",
                
                input_html: { autocomplete: "current-password" }, class: 'form-control', placeholder: 'Current password' %>
              </div>
                <div class='form-group col-md-6' align="center">
                <%= f.button :submit, "Save" , class: 'btn btn-success'%>
              </div>

    </div>
      <div class='col-sm-6'> 
        <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, 
        class: 'btn btn-outline-danger' %>
      </div>

        </div>
      </div>
      <% end %>

      <div>
        <div class='container'>
          <br><br>
          <h4>Added events</h4>
          <div id='contribEvent'class='row'>
            <% Event.where(user: current_user).each do |event| %>
          <div class='col-sm-4 col-md-3 p-3 mx-0'style='height:25%'>
                  <a class='lienEvent' href='/events/<%= event.id %>'>
                    <div class='w-100'>
                     <%= cl_image_tag(event.photo.key, width:'100%', height: '150px' ) %>
                    </div>

                    <div class='w-100 p-2'>
                      <%= event.name%>
                    </div>
                  </a>
            </div>

            <% end %>



          </div>
        </div>
      </div>
    </div>





