<h1>Edit Event</h1>

<%= simple_form_for @event do |f| %>

	<%= f.input :name%>
	<%= f.input :adress%>
	<%= f.input :theme%>
	<%= f.input :description%>
	<%= f.input :date%>
	<%= f.input :photo, as: :file%>
	<%= f.submit %>
	
<% end %>