
<div id='myCarousel' class='carousel slide' data-ride='carousel'>



<div class="carousel-inner">
	<div class="carousel-item active">
		 <%= image_tag("comedie3.jpg") %>
		<div class="container">
			<div class="carousel-caption d-none d-md-block text-left">
				<p>Let's live together through wonderful events</p>
				<p></p>
				
			</div>
		</div>
	</div>

</div>

</div>
	<div class='container'>
		<div id='contribEvent' class='row'>
		<% @events.each do |event| %>
		<div class='col-sm-3 col-md-3 p-0 mx-0'style='height:25%'>
			<a class='lienEvent' href='/events/<%= event.id %>'>
			   	 <div class="card" style="width: 18rem;">
			        <%= cl_image_tag(event.photo.key, width:'100%', height: '150px' ) %>
				  <div class="card-body">
				  	<p class="card-text"><%= event.date %></p>
				  	<h6 class="card-title"><%= event.name %></h6>
				    <p class="card-text"><%= event.adress %></p>
				  </div>
				</div>
			</a>
		</div>
		<% end %>
	</div>
</div>



